#screen {
  height:calc(100% - 50px);
  width: 100%;
  background-image: url("../images/login_splash.jpg");
  background-size: cover;

}

.center-content {
  display: table;
  width: 100%;
  height:calc(100% - 50px);;

}

.content-centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #EEEEEE;
}

#login-form * {
  margin: 4px;
}

#login-fields {
  display: inline-block;
  text-align: left;
}

#submit-button {
  border: 0;
  border-radius: 2px;
  color: #2196F3;
  background-color: #ECEFF1;
}