/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Max size */
@media (min-width: 1200px) {

}

/* Base website stylings  */
html * {
  font-family: "roboto", sans-serif, serif;
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

/* the container */
.container {
  padding: 8px;
}

.content {
  padding: 66px 16px 16px 16px; /* padded out below nav */
  min-height:calc(100% - 50px); /* stretch out atleast till foot is at the bottom */
}

/* centered outer */
.centered-outer{
  width:100%;
  display:table;
}

/* centered inner container */
.centered-inner{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.centered-inner > form, .centered-inner > p{
  background-color: rgba(0,0,0,0.4);
}

/*button styles */
.button {
  border: 0;
  border-radius: 2px;
  color: #FF5722;
  background-color: #ECEFF1;
}

.button:hover {
  color:#E64A19;
}

a.button-link:hover{
  text-decoration: none;
}

a {
  color:#FF5722;
}

a:hover {
  color:#BF360C;
}

.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width:auto;
}

.inline-block {
  display: inline-block;
}

.left-aligned {
  text-align: left;
}

.center-aligned {
  text-align: center;
}

/*uploads */
.uploadVisibility{
	display: none;
}

.isVisible{
	display: block;
}

/* footer */
footer > .container{
	text-align: center;
}