.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #FF5722;
}

/* Links */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #E64A19;
    color: #FFFFFF;
}

/* Navbar collapsed menu button */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  padding: 18 18 18 18;
  border-radius: 0;
  border: 0;
  margin: 0;
  background-color: #FF5722;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}


